php_value  upload_max_filesize  512M
php_value  post_max_size  512M
php_value  memory_limit  512M

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
DefaultLanguage ru
AddDefaultCharset UTF-8
php_value default_charset "UTF8"

Options +FollowSymlinks
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !robots.txt
#RewriteRule ^(.*)$ index.php?page_name=$1
RewriteRule ^(.*)$ index.php

#AuthType Basic
#AuthName "Protected Area"
#AuthUserFile /var/www/vhosts/u8030554.plsk.regruhosting.ru/httpdocs/livingathmos.ru/.htpasswd
#Require valid-user